<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>sumar Números</title>
</head>
<body>
  <h1>Mi Cuenta es: <%= @cont %></h1>
  <form action="/" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit" value="Sumar">
  </form>
<body>
</html>